<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.liji.ycycqwedding.dao.mapper.UserMapper">
    <insert id="createUser">
        insert into `user`
        (openid, `name`, avatar, complete_status, reward_status)
        values
        (#{openId}, #{name}, #{avatar}, #{completeStatus}, #{rewardStatus})
    </insert>

    <update id="updateCompleteStatus">
        update `user`
        set complete_status = 1
        where openid = #{openid}
    </update>

    <update id="updateRewardStatus">
        update `user`
        set reward_status = 1
        where openid = #{openid}
    </update>

    <select id="getUser" resultType="io.liji.ycycqwedding.model.User">
        select * from user where openid = #{openid}
    </select>

    <select id="getUsersAll" resultType="io.liji.ycycqwedding.model.User">
        select * from user
    </select>

</mapper>