<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.liji.ycycqwedding.dao.mapper.TaskMapper">
    <insert id="createTask">
        insert into task
        (openid, task_id, status, deleted) values
        (#{openid}, #{taskId}, #{status}, #{deleted})
    </insert>

    <update id="updateTaskStatus">
        update task
        set status = 1
        where openid = #{openid}
    </update>

    <update id="updateTaskExtra">
        update task
        set extra = #{extra}
        where openid = #{openid}
    </update>

    <select id="getTasksByOpenid" resultType="io.liji.ycycqwedding.model.Task">
        select * from task
        where openid = #{openid}
    </select>

    <update id="deleteTaskByTaskId">
        update task
        set deleted = 1
        where task_id = #{taskId}
    </update>

    <update id="deleteTaskByOpenidAndTaskId">
        update task
        set deleted = 1
        where task_id = #{taskId} and openid = #{openid}
    </update>
</mapper>