<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.liji.ycycqwedding.dao.mapper.UserMapper">
    <sql id="selectFields">
        openid, `name`, avatar, complete_status, reward_status, task_update_time, create_time, update_time
    </sql>

    <insert id="createUser">
        insert into `user`
        (openid, `name`, avatar, complete_status, reward_status)
        values
        (#{openid}, #{name}, #{avatar}, #{completeStatus}, #{rewardStatus})
    </insert>

    <update id="updateCompleteStatus">
        update `user`
        set complete_status = 1
        where openid = #{openid}
    </update>

    <update id="updateSessionKey">
        update `user`
        set session_key = #{sessionKey}
        where openid = #{openid}
    </update>

    <update id="updateTaskUpdateTime">
        update `user`
        set task_update_time = now()
        where openid = #{openid}
    </update>

    <update id="updateRewardStatus">
        update `user`
        set reward_status = 1
        where openid = #{openid}
    </update>

    <update id="updateInfo">
        update `user`
        set `name` = #{name}, avatar = #{avatar}
        where openid =#{openid}
    </update>

    <select id="getUser" resultType="io.liji.ycycqwedding.model.User">
        select <include refid="selectFields"/>   from `user` where openid = #{openid}
    </select>

    <select id="getUsersAll" resultType="io.liji.ycycqwedding.model.User">
        select <include refid="selectFields"/> from `user`
    </select>

    <select id="getUsersCompleteAtLeastOne"  resultType="io.liji.ycycqwedding.model.User">
        select <include refid="selectFields"/> from `user`
        where task_update_time is not null
    </select>

</mapper>